.card{
    padding: 2.5rem;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;

}
.card__img{
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}
.card__caption{
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--text-el-white);
    border-radius: 0 0 6px 6px;
}
.card__title{
    font-weight: 800;
    font-size: 20px;

}
.card__information{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 600;
}
.card__capital--span,.card__region--span,.card__population--span{
    font-weight: 800;
}