@import url(stylus.css);
.more-info{
    padding-top: 2.5rem;
    
}
.country__img{
    width: 100%;
    box-shadow: 0px 0px 2px 0px rgb(32, 32, 32);
}
.more-info__btn{
    background: var(--text-el-white);
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(32, 32, 32);
    padding: .5rem 1rem ;
    margin-bottom: 2.5rem;
    cursor: pointer;
}
.more-info__btn::before{
    content: '';
    background: url(../img/arrow-left-long-solid.svg) no-repeat center;
    padding: 8px;
    margin-right: 8px;
    
}

.country__info{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.country__name{
    font-weight: 800;
}
.info-1,.info-2,.info__border{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    font-size: 14px;
    
}
strong{
    font-weight: 600;
}
.country__border{
    font-size: 14px;
    font-weight: 600;
}
.border__links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:.5rem;
}
.country__border-country{
    text-decoration: none;
    padding: .5rem 2rem;
    font-family: inherit;
    background: var(--text-el-white);
    box-shadow: 0px 0px 2px 0px rgb(32, 32, 32);
    color: inherit;

}
.pointer{
    cursor: pointer;
}
@media screen and (min-width:1024px) {
    .country__img{
        height: 100%;
        width: 100%;
    }
    .country{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 6rem;
        padding-bottom: 4rem;
    }
    .country__info{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
    .country__name{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .info-1{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .info-2{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .info__border{
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        flex-direction: row;
        row-gap: 0;
        column-gap: 1rem;
        align-items: center;
    }
    .border__links{
      gap: .5rem;
      justify-content: flex-start;
    }
}