.cards{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem ;

}
@media screen and (min-width:640px){
    .cards{
        
        flex-direction: row;
        align-items: stretch;
        
    }
    .search-filter{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding-top: 2rem;
    }
}
@media screen and (min-width:1024px){
    .cards{
        
        flex-direction: row;
        align-items: stretch;
        
    }
    .search-filter{
        margin: 0;
    }
}