.cards{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
@media screen and (min-width:767px){
    .cards{
        
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        
    }
}
@media screen and (min-width:1024px){
    .cards{
        
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        
    }
}